<ion-view view-title="Calendario">

	<ion-nav-buttons side="primary">
      <a class="button avatar" href="#/account"><!-- #nothingtoseehere --></a>
    </ion-nav-buttons>

	<ion-header-bar class="bar bar-subheader sub-bar">
		<ul>
			<li>giorno</li>
			<li>settimana</li>
			<li class="active">mese</li>
		</ul>
	</ion-header-bar>

  <ion-content class="calendar-content">

  	<div class="calendarview"><!-- #nothingtoseehere --></div>

  	<ion-list>
			<ion-item class="item-icon-left event">
			<i class="icon checkbox"></i>
				<div style="float: left; max-width:180px;">
				<h2>H-ACK Unipd</h2>
				<div class="details">
					<span class="duration">All day</span>
					<span class="location">Fiore di Botta</span>
				</div>
			</div>
			</ion-item>

			<div class="separator"><!-- #nothingtoseehere --></div>

			<ion-item class="item-icon-left lesson">
			<i class="icon checkbox"></i>
				<div style="float: left; max-width:180px;">
				<h2>Telecomunicazioni T-A</h2>
				<div class="details">
					<span class="duration">11-12.30</span>
					<span class="location">Fiore di Botta, Aula A</span>
				</div>
			</div>
			</ion-item>

		</ion-list>

  </ion-content>
</ion-view>